@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	scroll-behavior: smooth;
	scroll-padding-top: 5.75rem;
}

html {
	overflow: overlay;
}

/* Firefox */
* {
	scrollbar-width: thin;
	scrollbar-color: #48cae4 #00171f;
}

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
	width: 8px;
	width: 8px;
}
*::-webkit-scrollbar-track {
	border-radius: 5px;
	background-color: rgba(0, 0, 0, 0.0);
}

*::-webkit-scrollbar-track:hover {
	background-color: rgba(0, 0, 0, 0.0);
}

*::-webkit-scrollbar-track:active {
	background-color: rgba(0, 0, 0, 0.0);
}

*::-webkit-scrollbar-thumb {
	border-radius: 5px;
	background-color: #48cae4;
}

*::-webkit-scrollbar-thumb:hover {
	background-color: #40b3ca;
}

*::-webkit-scrollbar-thumb:active {
	background-color: #40b3ca;
}

@layer base {
	html {
		@apply font-sans;
	}
}

@layer components {
	.navbar {
		@apply bg-primary text-slate-100 sticky top-0 left-0 right-0 flex flex-col justify-between items-center px-4 py-2 md:flex-row z-10;
	}

	.navbar-container {
		@apply w-full flex justify-between items-center;
	}

	.navbar-header {
		@apply flex;
	}
	.navbar-title {
		@apply text-2xl font-medium select-none;
	}

	.navbar-content {
		@apply min-h-screen w-full overflow-y-scroll flex flex-col justify-center space-y-4 list-none py-2 px-4 md:flex-row md:space-y-0 md:space-x-3 md:min-h-fit md:justify-end md:bg-primary;
	}

	.navbar-item {
		@apply text-xl text-center;
	}

	.navbar-link {
		@apply border-b border-solid border-b-transparent transition-all duration-300 ease-in-out hover:border-b-accent;
	}

	.presentation-container {
		@apply min-h-screen 4xl:min-h-[75rem] gap-8 pt-12 pb-4 grid grid-cols-1 md:grid-cols-2;
	}

	.presentation-image-container {
		@apply flex flex-col justify-start items-center;
	}

	.presentation-image {
		@apply w-[30rem] sm:w-[18rem] md:w-[20rem] hover:-translate-y-4 duration-500 ease-in-out z-0;
	}

	.presentation-credit {
		@apply text-slate-100;
	}

	.certifications-container {
		@apply container py-8 text-slate-100;
	}

	.certificationsList-container {
		@apply flex flex-wrap justify-center items-center;
	}

	.item-padding {
		@apply w-full md:w-1/3 xl:w-1/4 p-4;
	}

	.certification-container {
		@apply w-full flex flex-col justify-center items-center py-2 px-4 bg-secondary-accent hover:shadow-lg hover:shadow-accent rounded-lg transition-all duration-500 ease-in-out hover:-translate-y-1;
	}

	.certification-icon {
		@apply text-slate-100 w-1/2 aspect-square rounded-md mb-4
	}

	.certification-issuer {
		@apply text-slate-300;
	}

	.skills-container {
		@apply container py-8 text-slate-100;
	}

	.skill-padding {
		@apply w-1/2 md:w-1/3 lg:w-1/4 xl:w-1/5 p-2;
	}

	.skill-container {
		@apply w-full flex flex-col justify-center items-center p-4 bg-terciary hover:shadow-lg hover:shadow-accent rounded-lg transition-all duration-500 ease-in-out hover:-translate-y-1
	}

	.skillsList-container {
		@apply flex flex-wrap justify-center items-center;
	}

	.skill-icon {
		@apply text-slate-100 w-full aspect-square rounded-md mb-4 transition-all duration-500;
	}

	.contact-container {
		@apply container text-slate-100 py-4;
	}

	.contact-heading {
		@apply text-3xl text-center mb-4;
	}

	.contact-content {
		@apply flex flex-col justify-start items-center gap-2 mb-6;
	}

	.contact-links {
		@apply flex flex-col justify-center gap-4 w-full;
	}

	.contact-link {
		@apply flex gap-2 items-center;
	}

	.contact-button {
		@apply block ms-2 max-w-fit border-2 border-accent hover:bg-accent py-2 px-4 hover:scale-105 duration-300 transition-all;
	}
}

@layer utilities {
	.hover-accent {
		@apply transition-colors duration-300 ease-in-out hover:text-accent;
	}

	.hidden-mobile {
		@apply hidden md:flex;
	}

	.hidden-desktop {
		@apply flex md:hidden;
	}

	.container {
		@apply mx-auto px-4 w-full sm:w-[38rem] md:w-[45rem] lg:w-[60rem] xl:w-[74rem] 2xl:w-[88rem];
	}

	.shadow-filter {
		filter: drop-shadow(0px 10px 10px #0466c8);
	}

	.shadow-skill {
		filter: drop-shadow(0px 3px 15px #0466c8);
	}

	.heading {
		@apply text-3xl mb-4;
	}

	.accent-text {
		@apply transition-colors duration-500 text-xl font-medium;
	}
}
